<?xml version="1.0" ?>
<robot name="largebox">
  <dynamics damping="0.5" friction="0.9"/>
  <link name="largebox_link">
    <inertial>
      <mass value="0.1"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.002" ixy="0" ixz="0" iyy="0.002" iyz="0" izz="0.002"/>
    </inertial>
    <contact>
      <lateral_friction value="0.9"/>
      <rolling_friction value="0.5"/>
      <stiffness value="30000"/>
      <damping value="1000"/>
    </contact>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/largebox_scaled_{{scale_x}}_{{scale_y}}_{{scale_z}}.obj" scale="1.0 1.0 1.0"/>
      </geometry>
       <material name="mat">
        <color rgba="0.7 0.8 0.9 0.7"/>
      </material>
    </visual>
    <collision name="largebox">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/largebox_scaled_{{scale_x}}_{{scale_y}}_{{scale_z}}.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>
